.slider-container{
    padding: 0;
    margin: 120px 0 0 0 ;
    display: flex;
    justify-content: space-between;
    width: 98vw;

}
.item-slider{
    padding: 0;
}
.item-slider li:last-child{
    margin-left: 0;
}
.item-slider li:first-child{
    margin-left: 0;
}